@font-face{
  font-family: 'BBC';
  src: url('../fonts/bbc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'BBC-S';
  src: url('../fonts/bbc-s.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face{
  font-family: 'BBC-M';
  src: url('../fonts/bbc-m.ttf') format('truetype');
  font-weight: normal ;
  font-style: normal;
}

@font-face{
  font-family: 'BBC-L';
  src: url('../fonts/bbc-l.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'BBC-XL';
  src: url('../fonts/bbc-xl.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face{
  font-family: 'BBC-CD';
  src: url('../fonts/bbc-cd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'BBC-CD-L';
  src: url('../fonts/bbc-cd-l.ttf') format('truetype');
  font-weight: bold ;
  font-style: normal;
}

@font-face{
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Montserrat-L';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2');
  font-weight: bold ;
  font-style: normal;
}
