* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #333;
}

/* user-select: auto; Non-prefixed version, currently supported by Chrome, Opera and Edge */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-on {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

/* display: flex; Aktiviert Flexbox für diesen Container */
/* justify-content: space-around; Verteilt die Elemente gleichmäßig mit Raum dazwischen */
/* align-items: center; Zentriert die Elemente vertikal */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5vh 0.8vw;
  /* height: var(--topbar-height); */
  box-shadow: 0 0 5px #333, 0 -10px 15px #333, 0px -15px 25px #333;
  z-index: 3;
}

/* flex: 1; bedeutet jeder Link nimmt den gleichen Anteil des Raumes ein */
.nav a {
  flex: 1;
  /* float: right; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  /* margin-left: 5px;
  margin-right: 5px; */
  margin:  0 0.5vw;
  text-decoration: none;
  font-family: 'BBC-L';
  font-size: 0.9em;
  /* font-size: min(1.8vh, 1.8vw); */
  border-radius: var(--button-border-radius);
}

.nav a:hover {
  background-color: hsl(0, 100%, 63%);
  color: #f2f2f2;
  border-radius: var(--button-border-radius);
}

.nav a:active {
  background-color: hsl(0, 85%, 55%);
  color: #f2f2f2;
  border-radius: 4px;
}

/* .nav-hint {
  align-items: center;
  justify-content: space-between;
  color: #ffff00;

}

.nav-hint:hover {
  background-color: hsl(0, 100%, 63%);
  color: #f2f2f2;
  border-radius: 4px;
}

.logo {
  max-height: clamp(50px, 10vh, 80px);
  height: clamp(50px, 10vh, 80px);
}

.logo img {
  max-height: clamp(50px, 10vh, 80px);
}

.menu-icon {
  display: none;
  float: right;
  font-size: 28px;
  cursor: pointer;
} */

/* ---- particles.js container ---- */
/* position: relative Ermöglicht die absolute Positionierung von Kind-Elementen */
#particles-js {
  position: relative;
  margin-top: var(--topbar-height);
  width: 100vw;
  height: 50vh;
  background-color: #b81924;
  /* background-image: url('assets/Logo-Inspiration/ai-platform-svgrepo-com(6).svg'); */
  background-size:contain;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

/* ---- titles container ---- */
/* top: 50% zentriert die Überschrift vertikal */
/* left: 50% zentriert die Überschrift horizontal */
/* transform translate(-50%, -50%) verschiebt die Überschrift zurück, um sie genau zu zentrieren */
.title-over-particles-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25vh;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 1px #fff, 0px 0px 2px #f44, 3px 1px 5px #b81924;
  z-index: 2;
}

/* font-size: min(8vw, 8vh); Skaliert die Schriftgröße basierend auf den kleineren Wert des Viewports */
.title-over-particles-first {
  font-family: 'Montserrat';
  font-family: 'Montserrat-L';
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: min(8vw, 8vh);
  color: #fff;
  text-align: center;
  cursor: text;
}

.title-over-particles-first::selection{
  color: #000;
  background: hsl(2, 95%, 65%);
}

.title-over-particles-second {
  font-family: 'Montserrat';
  font-family: 'Montserrat-L';
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: min(8vw, 8vh);
  color: #fff;
  text-align: center;
  cursor: text;
}

.title-over-particles-second::selection{
  color: #000;
  background: hsl(2, 95%, 65%);
}

.title-over-particles-third {
  font-family: 'BBC';
  font-size:  min(3vw, 3vh);
  color: #fff;
  text-align: center;
  cursor: text;
}

.title-over-particles-typewriter {
  font-family: 'BBC';
  font-size:  min(3vw, 3vh);
  color: #fff;
  text-align: center;
  cursor: text;
  margin: auto;
}

.title-over-particles-third::selection{
  color: #000;
  background: hsl(2, 95%, 65%);
}

h1 {
  font-family: 'Montserrat-L';
  /* font-variant: small-caps; */
}

h2 {
  font-family: 'Montserrat-L';
}

.section-h2 {
  font-weight: bold;
  text-shadow: 0 0 1px #666;
  font-size: 2em;
  font-family: 'Montserrat-L';
  margin: 1vh 0 3vh 0;
}

.small-heading {
  font-family: 'Montserrat';
}

.small-heading-initial {
  display: none;
}

.large-heading {
  font-family: 'Montserrat';
}

h3 {
  font-family: 'Montserrat';
}

h4 {
  font-family: 'Montserrat';
}

h5 {
  font-family: 'Montserrat-L';
  text-transform: uppercase;
}

h6 {
  font-family: 'Montserrat';
}

p {
  font-family: 'BBC-L';
}

.hint {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff00;
  color: #000;
  font-weight: bolder;

}

.solutions-container {
  display:none;
  z-index: 1;
}

.solutions-title {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 3em;
  color: #f1f1f1;
  background-color: #333;
  font-weight: bolder;
  font-family: 'Montserrat-L';
  padding: 0 10vw;
  margin: 10vh 0;
}

#spacerVertical {
  height: 50vh;
}

/* Text And Images Block */
/* Indentation & Coloring */
.indent-left {
  background-color: #fff;
  color: #333;
}

.indent-left ::selection{
  color: #000;
  background: hsl(2, 96%, 65%);
}

.indent-right {
  background-color: #ededed;
  color: #f44;
  /* padding: var(--phi-vw-e); */
}

.indent-right ::selection{
  color: -inherit;
  background: #f5c8c7e6;;
}

 /* debug borders */
/* section           {border: 5px solid red;}
.section-content  {border: 4px solid orange;}
.section-text     {border: 3px solid yellow;}
.section-spacer   {border: 3px solid green;}
.section h1       {border: 2px solid turquoise;}
.section h5       {border: 2px solid turquoise;}
.section p        {border: 2px solid blue;} */

/* Section */
section {
  padding:  var(--phi-vh-f) var(--phi-vw-d) var(--phi-vh-e);
}

.section-content {
  display: flex; /* Aktiviert Flexbox für diesen Container */
  max-width: 768px; /* Setzt die maximale Breite für den Container */
  margin: 0 auto; /* Zentriert den Container */
}

.section-text {
  flex: 8;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.section-spacer {
  flex: 3;
}

/* .indent-left h1,
.indent-left h1:hover{
  font-weight: bold;
  font-size: min(4vw, 4vh);
  font-family: 'Montserrat-L';
  margin: 5vh 0 3vh 0;
} */

.indent-left h2,
.indent-left h2:hover{
  font-weight: bold;
  text-shadow: 0 0 1px #666;
  font-size: 2em;
  font-family: 'Montserrat-L';
  margin: 1vh 0 3vh 0;
}

.indent-left .section-h2,
.indent-left .section-h2:hover{
  font-weight: bold;
  text-shadow: 0 0 1px #666;
  font-size: 2em;
  font-family: 'Montserrat-L';
  margin: 1vh 0 3vh 0;
}

.indent-left .small-heading,
.indent-left .small-heading:hover{
  font-weight: bold;
  font-size: 1em;
  font-family: 'Montserrat';
  text-decoration: underline;
  margin: 2vh 0 1vh 0;
}

.indent-left .large-heading,
.indent-left .large-heading:hover{
  font-weight: bold;
  text-shadow: 0 0 1px #666;
  font-size: 2em;
  font-family: 'Montserrat-L';
  margin: 1vh 0 3vh 0;
}

.indent-left h5,
.indent-left h5:hover{
  font-weight: bold;
  font-size: 2.0rem;
  font-family: 'BBC-L';
}

.indent-right h2,
.indent-right h2:hover{
  font-weight: bold;
  text-shadow: 0 1px 1px #f88;
  font-size: 2em;
  font-family: 'Montserrat-L';
  margin: 1vh 0 3vh 0;
}

.indent-right .section-2,
.indent-right .section-2:hover{
  font-weight: bold;
  text-shadow: 0 1px 1px #f88;
  font-size: 2em;
  font-family: 'Montserrat-L';
  margin: 1vh 0 3vh 0;
}

.indent-right .small-heading,
.indent-right .small-heading:hover{
  font-weight: bold;
  font-size: 1em;
  height: 1.1em;
  font-family: 'Montserrat';
  text-decoration: underline;
  margin: 0vh 0 1vh 0;
}

.indent-right .large-heading,
.indent-right .large-heading:hover{
  font-weight: bold;
  text-shadow: 0 1px 1px #f88;
  font-size: 2em;
  font-family: 'Montserrat-L';
  margin: 1vh 0 3vh 0;
}

.indent-right h5,
.indent-right h5:hover{
  font-weight: bold;
  font-size: 2.0rem;
  font-family: 'BBC-L';
}

.indent-left p{
  font-family: 'BBC';
  color: #111;
  text-shadow: 0 1px 1px #999;
  font-weight:bold;
  font-size:  18px;
  font-size:  1.2em;
  line-height: 1.6em;
  margin: 3vh 0 5vh 0;
}

.indent-right p{
  font-family: 'BBC';
  text-shadow: 0 1px 1px #f66;
  font-weight:bold;
  font-size:  18px;
  line-height: 1.6em;
  margin: 3vh 0 5vh 0;
}

/* red colored links */
.indent-left a{
  color: #f44;
}

.indent-right a{
  color: #f00;
  /* font-family: 'BBC-L'; */
  text-shadow: 0 1px 1px #f22;
}

/* linktree-content */
.linktree-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

/* Profile Image */
.profile-image {
  border: 3px solid #f1f1f1;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #f44;
}

.card {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

/* Card Image */
.card img {
  display: block;
  border: 3px solid #f1f1f1;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 5px #333;
}

/* Buttons in Linktree */
.button-linktree {
  display: block;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #302f34;
  box-shadow: 0 0 5px #333;
  color: #f1f1f1;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'BBC-L';
}

.button-linktree:hover {
  background-color: #f44;
  color: #fff;
  box-shadow: 0 0 5px #f44;
}

.current-button {
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 2px #fff;
  background-color: hsl(0, 100%, 63%);
  box-shadow: 0 0 4px #555, 0 0 8px #f44;
}

.current-button:hover {
  background-color: #555;
  background-color: hsl(358, 85%, 45%)!important;
  color: #fff;
}

/* Social Links and Icons */
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  display: inline-block;
  margin: 0 10px;
}

.icon img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  filter: invert(100%) sepia(0%) saturate(225%) hue-rotate(52deg) brightness(113%) contrast(89%);
}

.icon:hover img {
  transform: scale(1.1);
}

.icon:active img {
  transform: scale(0.9);
}

/* Footer */
footer {
  display: flex;
  width: 100vw;
  bottom: 0;
  height: var(--footer-height);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #666;
  color: #f1f1f1;
  /* height: 50px; */
}

footer ::selection{
  color: #000;
  background: #f5c8c7e6;;
}

footer a {
  margin: 0 1rem; /* Abstand zwischen den Links */
  color: inherit;
  text-decoration: none; /* Keine Unterstreichung */
}

/* Solutions Stylesheet */
/* Grundlegende Stildefinitionen */
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 768px;
  gap: 20px; /* Abstand zwischen Text und Bild */
  margin: 40px auto; /* Abstand zum nächsten Abschnitt */
}

.text-content, .image-content {
  flex: 1; /* Beide Spalten nehmen verfügbaren Platz ein */
}

.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-image {
  width: 100%;
  height: auto;
}

.image-gallery img {
  border-radius: 11px;
  box-shadow: 0 1px 5px #999;
}

.additional-images img {
  width: 48%; /* Zwei Bilder nebeneinander mit etwas Platz dazwischen */
  height: auto;
  margin: 0 auto;
}

.cta-button {
  text-align: center; /* Zentriert den Button */
  margin: 20px 20px; /* Abstand nach oben */
  padding: 20px 20px 10px 20px;
}

.cta-button a {
  color: #f2f2f2;
  text-decoration: none;
  text-shadow: 0 0 1px #999;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff; /* Blau als Beispiel */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 1px #666;
}

.btn:hover {
  color:#fff;
  background-color: #0056b3; /* Dunkleres Blau beim Hover */
  /* box-shadow: 0px 0px 30px #44a; */
}


/* ... */
.main-container {
  padding: 0 0;
}

.accordion {
  background-color: #eee;
  color: #f44;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: 'Montserrat-L';
  font-size: 16px;
  text-transform:uppercase ;
  transition: 0.4s;
  padding: 0 var(--phi-vw-d);
}

.accordion:hover {
  color: hsl(358, 100%, 65%);
  background-color: #ccc;
  text-shadow: 0 0 10px hsl(0, 50%, 45%);
}

.active {
  color: hsl(0, 100%, 63%);
  background-color: #ccc;
  text-shadow: 0 0 15px hsl(0, 50%, 45%);
}

.accordion h2{
  margin: var(--phi-vw-i) auto ;
  text-shadow: 0 0 1px hsl(358, 50%, 63%);
  max-width: 768px;
  position: relative; /* Damit das Pseudoelement relativ zur Überschrift positioniert wird */
}

.accordion h2:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  position: absolute; /* Damit das Pseudoelement absolut positioniert wird */
  right: 0; /* Damit das Pseudoelement rechtsbündig ist */
  top: 50%; /* Damit das Pseudoelement vertikal zentriert ist */
  transform: translateY(-50%); /* Damit das Pseudoelement vertikal zentriert ist */
}

.active h2:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Responsive Design */

/* ========= Anpassungen für Desktops ========= */
@media (min-width: 1024px) {
  .mobile-break {
    display: none;
  }

  .mobile-none-visible {
    display: inline;
  }

  .section-content {
    display: flex; /* Aktiviert Flexbox für diesen Container */
    max-width: 768px; /* Setzt die maximale Breite für den Container */
    margin: 0 auto; /* Zentriert den Container */

  }

  .section-text {
    flex: 8;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }

  .section-spacer {
    flex: 3;
  }
}

/* ========= Anpassungen für Tablets ========= */
@media (max-width: 1024px) {
  .mobile-break {
    display: none;
  }

  .mobile-none-visible {
    display: none;
  }

  .section-content {
    display: flex; /* Aktiviert Flexbox für diesen Container */
    max-width: 768px; /* Setzt die maximale Breite für den Container */
    margin: 0 auto; /* Zentriert den Container */
  }

  .section-text {
    flex: 8;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }

  .section-spacer {
    flex: 0;
  }
}

/* ========= Anpassungen für Mobilgeräte ========= */
@media (max-width: 768px) {
  .mobile-break {
    display: block;
  }

  .mobile-none-visible {
    display: none;
  }

  .section-content {
    display: flex; /* Aktiviert Flexbox für diesen Container */
    max-width: 512; /* Setzt die maximale Breite für den Container */
    margin: 0 auto; /* Zentriert den Container */
  }

  .section-text {
    flex: 8;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }

  .section-spacer {
    flex: 0;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .text-content, .image-content, .image-gallery {
    width: 100%;
  }

  .additional-images img {
    width: 100%; /* Auf kleinen Bildschirmen untereinander */
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0.5vh 0.8vw;
    /* height: var(--topbar-height); */
    box-shadow: 0 0 5px #333, 0 -10px 15px #333, 0px -15px 25px #333;
    z-index: 3;
  }

  /* flex: 1; bedeutet jeder Link nimmt */
  /* den gleichen Anteil des Raumes ein */
  .nav a {
    flex: 1;
    /* float: right; */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin:  0 0.5vw;
    text-decoration: none;
    font-family: 'BBC-L';
    font-weight: bold;
    /* font-weight: bold; */
    /* font-size: 0.8em; */
    border-radius: var(--button-border-radius);
  }
}

/* ========= Anpassungen für sehr kleine Geräte ========= */
@media (max-width: 480px) {
}


 /* debug borders */
/* .main-container       {border: 4px solid red;}
section               {border: 5px solid orange;}
.section-content      {border: 3px solid yellow;}
.accordion            {border: 3px solid green;}
.accordion h2         {border: 2px solid turquoise;}
.content-wrapper      {border: 2px solid lightsalmon;}
.section p            {border: 2px solid blue;} */
