
:root {
  --phi: 1.62;

  --primary-color:   #cb4c48;
  --primary-color-3: #ff4444;

  --primary-color:   hsl(2, 55%, 55%);
  --primary-color: hsl(356, 76%, 41%);
  --primary-color-1: hsl(2, 70%,  57%);
  --primary-color-2: hsl(1, 85%, 60%);
  --primary-color-3: hsl(0, 100%, 63%);
  --primary-color-4: hsl(0, 18%, 35%);
  --primary-color-5: hsl(0, 10%, 45%);

  --secondary-color:   #EEEEEE;
  --secondary-color-1: hsl(0, 0%,100%);
  --secondary-color-2: hsl(0, 0%, 93%);
  --secondary-color-3: hsl(0, 0%, 80%);
  --secondary-color-4: hsl(0, 0%, 70%);
  --secondary-color-5: hsl(0, 0%, 60%);

  --nuance-color:   #00adb5;
  --nuance-color-1: hsl(183, 100%, 15%);
  --nuance-color-2: hsl(183, 100%, 25%);
  --nuance-color-3: hsl(183, 100%, 35%);
  --nuance-color-4: hsl(183, 100%, 45%);
  --nuance-color-5: hsl(183, 100%, 55%);

  --selection-color-1: hsl(2, 70%,  57%);
  --selection-color-2: hsl(2, 70%,  87%, 0.9);

  --frame-color-bg: var(--primary-color-2);
  --frame-color-fg: var(--secondary-color-2);

  --banner-color-bg: var(--primary-color-3);
  --banner-color-bg: var(--secondary-color-3);

  --section-base-bg: var(--secondary-color-2);
  --section-base-fg: var(--nuance-color-1);
  --section-further-bg: var(--secondary-color-3);
  --section-further-fg: var(--primary-color-2);

  --border-color: var(--primary-color-3);

  --compare-sub-color: var(--primary-color-4);
  --compare-top-color: var(--nuance-color-1);
  --compare-sub-button-bg: var(--primary-color-4);
  --compare-sub-button-fg: var(--secondary-color-2);
  --compare-top-button-bg: var(--nuance-color-1);
  --compare-top-button-fg: var(--secondary-color-2);

  --topbar-height: 50px;
  --phi-distance: 200px;
  --phi-distance-a: calc(var(--phi-distance)   / var(--phi));
  --phi-distance-b: calc(var(--phi-distance-a) / var(--phi));
  --phi-distance-c: calc(var(--phi-distance-b) / var(--phi));
  --phi-distance-d: calc(var(--phi-distance-c) / var(--phi));

  --phi-vw: 100vw;
  --phi-vw-a: calc(var(--phi-vw)   / var(--phi));
  --phi-vw-b: calc(var(--phi-vw-a) / var(--phi));
  --phi-vw-c: calc(var(--phi-vw-b) / var(--phi));
  --phi-vw-d: calc(var(--phi-vw-c) / var(--phi));
  --phi-vw-e: calc(var(--phi-vw-d) / var(--phi));
  --phi-vw-f: calc(var(--phi-vw-e) / var(--phi));
  --phi-vw-g: calc(var(--phi-vw-f) / var(--phi));
  --phi-vw-h: calc(var(--phi-vw-g) / var(--phi));

  --phi-vh: 100vh;
  --phi-vh-a: calc(var(--phi-vh)   / var(--phi));
  --phi-vh-b: calc(var(--phi-vh-a) / var(--phi));
  --phi-vh-c: calc(var(--phi-vh-b) / var(--phi));
  --phi-vh-d: calc(var(--phi-vh-c) / var(--phi));
  --phi-vh-e: calc(var(--phi-vh-d) / var(--phi));
  --phi-vh-f: calc(var(--phi-vh-e) / var(--phi));
  --phi-vh-g: calc(var(--phi-vh-f) / var(--phi));
  --phi-vh-h: calc(var(--phi-vh-g) / var(--phi));
}

@font-face{
    font-family: 'BBC';
    src: url('fonts/bbc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'BBC-S';
    src: url('fonts/bbc-s.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face{
    font-family: 'BBC-M';
    src: url('fonts/bbc-m.ttf') format('truetype');
    font-weight: normal ;
    font-style: normal;
}

@font-face{
    font-family: 'BBC-L';
    src: url('fonts/bbc-l.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'BBC-XL';
    src: url('fonts/bbc-xl.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face{
    font-family: 'BBC-CD';
    src: url('fonts/bbc-cd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'BBC-CD-L';
    src: url('fonts/bbc-cd-l.ttf') format('truetype');
    font-weight: bold ;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-L';
    src: url('fonts/montserrat-bold-webfont.woff2') format('woff2');
    font-weight: bold ;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 100%;
  max-width: 100vw;
}

canvas{
  display:block;
  vertical-align:bottom;
}

.serif-font {
  font-family: 'BBC', Georgia, Garamond, 'Times New Roman', Times, serif;
}

.condensed-font {
  font-family: 'BBC-CD', Tahoma, sans-serif;
}

.default-font {
  font-family: 'Montserrat', Tahoma, sans-serif;
}

/* ---- particles.js container ---- */
#particles-js{
  width: 100%;
  height: 100%;
  background-color: hsl(356, 76%, 41%);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

a:link {
  color: red;
}

a:visited {
  color: hsl(356, 76%, 41%);
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

h1 {
  font-family: 'Montserrat-L' !important;
}

h5 {
  font-family: 'Montserrat-L' !important;
}

/* Container für Sidebar und Inhalt */
.main-container {
  display: flex;
  width: 100%;
  margin: 0;
}

.container-relative {
  position: relative;
  overflow: auto;
  /* TODO nicht gnaz richtig */
}

.first-page {
  color: var(--secondary-color);
  background-color: var(--primary-color-3);
  padding-top: var(--phi-vh-d);
  font-family: Montserrat-L;
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: var(--phi-vh-b);
}

.header {
  background-color: #333;
  color: var(--secondary-color-2);
  height: var(--phi-vh-g);
  padding: 10px 20px;
  font-family: Montserrat-L;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  float: left;
}

.logo img {
  max-height: var(--phi-distance-c);
}

.navbar {
  float: right;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
}

.nav-item:hover {
  background-color: var(--primary-color-3);
}

.nav-item a {
  color: var(--secondary-color-2);
  text-decoration: none;
  line-height: 50px;
}

.nav-hint {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 50px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  color: black;
  background-color: yellow;
}

.menu-icon {
  display: none;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

/* On-Page-Navigation Styles */
.sidebar {
  background-color: var(--secondary-color-3);
  position: fixed;
  top: var(--phi-distance-c);
  height: calc(100vh - var(--phi-distance-c));
  min-width: var(--phi-distance);
  max-width: var(--phi-distance);
  padding-top: var(--phi-distance-b);
  overflow-y: auto;
  font-family: 'BBC-L';
}

.sidebar a {
  display: block;
  padding: 5px 10px;
  margin: 5px 0;
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  background-color: #ddd;
}

.content {
  flex-grow: 1;
  /* margin-left: var(--phi-distance); */
  width: calc(100% - var(--phi-distance));
  box-sizing: border-box;
  padding: 0px;
}

.section {
  margin-bottom: 50px;
}

.indent-left {
  color: #333;
  width: calc(100% / var(--phi));
  float: left;
  padding-left: var(--phi-distance-b)!important;
}

.indent-left-bg {
  background-color: var(--secondary-color-1);
  width: 100%;
  content: "";
  display: table;
  padding-top: var(--phi-distance-c)!important;
  padding-bottom: var(--phi-distance-c)!important;
}

.indent-right {
  color: var(--primary-color-2);
  width: calc(100% / var(--phi));
  float: right;
  padding-right: var(--phi-vw-e)!important;
}

.indent-right-bg {
  background-color: var(--secondary-color-2);
  width: 100%;
  content: "";
  display: table;
  padding-top: var(--phi-distance-c)!important;
  padding-bottom: var(--phi-distance-c)!important;
}

.indent-right ::selection{
  color: -inherit;
  background: var(--selection-color-2);
}

.indent-left ::selection{
  color: -inherit;
  background: var(--selection-color-1);
}

.section p{
  font-weight: bold;
  font-size: 1.5rem !important;
  font-family: 'BBC-CD';
}

.section h1,
.section h1:hover{
  font-weight: bold;
  font-size: 2.5rem !important;
  font-family: 'BBC-XL';
}

.section h5,
.section h5:hover{
  font-weight: bold;
  font-size: 2.0rem !important;
  font-family: 'BBC-L';
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  width: 20%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card img {
  border-radius: 5px 5px 0 0;
}

.card-container {
  padding: 2px 16px;
}

/* Mobile On-Page-Navigation Styles */
/* Lasche an der Seite */
.mobile-nav-toggle {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(90deg);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
    clear: both;
  }
/*  */
  .nav-item {
    display: block;
    margin: 0;
  }
/*  */
  .menu-icon {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  }
/*  */
  .sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #f9f9f9;
    overflow-y: hidden;
    transition: left 0.3s;
  }
/*  */
  .mobile-nav-toggle {
    display: block;
  }
/*  */
  .sidebar.open {
    left: 0;
  }
}
