:root {
  --phi: 1.62;

  --primary-color:   #cb4c48;
  --primary-color-3: #ff4444;

  --primary-color:   hsl(2, 55%, 55%);
  --primary-color:   hsl(356, 76%, 41%);
  --primary-color-1: hsl(2, 70%,  57%);
  --primary-color-2: hsl(1, 85%, 60%);
  --primary-color-3: hsl(0, 100%, 63%);
  --primary-color-4: hsl(0, 18%, 35%);
  --primary-color-5: hsl(0, 10%, 45%);

  --secondary-color:   #EEEEEE;
  --secondary-color-1: hsl(0, 0%,100%);
  --secondary-color-2: hsl(0, 0%, 93%);
  --secondary-color-3: hsl(0, 0%, 80%);
  --secondary-color-4: hsl(0, 0%, 70%);
  --secondary-color-5: hsl(0, 0%, 60%);

  --nuance-color:   #00adb5;
  --nuance-color-1: hsl(183, 100%, 15%);
  --nuance-color-2: hsl(183, 100%, 25%);
  --nuance-color-3: hsl(183, 100%, 35%);
  --nuance-color-4: hsl(183, 100%, 45%);
  --nuance-color-5: hsl(183, 100%, 55%);

  --selection-color-1: hsl(2, 70%,  57%);
  --selection-color-2: hsl(2, 70%,  87%, 0.9);

  --frame-color-bg: var(--primary-color-2);
  --frame-color-fg: var(--secondary-color-2);

  --banner-color-bg: var(--primary-color-3);
  --banner-color-bg: var(--secondary-color-3);

  --section-base-bg: var(--secondary-color-2);
  --section-base-fg: var(--nuance-color-1);
  --section-further-bg: var(--secondary-color-3);
  --section-further-fg: var(--primary-color-2);

  --border-color: var(--primary-color-3);

  --compare-sub-color: var(--primary-color-4);
  --compare-top-color: var(--nuance-color-1);
  --compare-sub-button-bg: var(--primary-color-4);
  --compare-sub-button-fg: var(--secondary-color-2);
  --compare-top-button-bg: var(--nuance-color-1);
  --compare-top-button-fg: var(--secondary-color-2);

  --topbar-height: 50px;
  --phi-distance: 200px;
  --phi-distance-a: calc(var(--phi-distance)   / var(--phi));
  --phi-distance-b: calc(var(--phi-distance-a) / var(--phi));
  --phi-distance-c: calc(var(--phi-distance-b) / var(--phi));
  --phi-distance-d: calc(var(--phi-distance-c) / var(--phi));

  --phi-vw: 100vw;
  --phi-vw-a: calc(var(--phi-vw)   / var(--phi));
  --phi-vw-b: calc(var(--phi-vw-a) / var(--phi));
  --phi-vw-c: calc(var(--phi-vw-b) / var(--phi));
  --phi-vw-d: calc(var(--phi-vw-c) / var(--phi));
  --phi-vw-e: calc(var(--phi-vw-d) / var(--phi));
  --phi-vw-f: calc(var(--phi-vw-e) / var(--phi));
  --phi-vw-g: calc(var(--phi-vw-f) / var(--phi));
  --phi-vw-h: calc(var(--phi-vw-g) / var(--phi));

  --phi-vh: 100vh;
  --phi-vh-a: calc(var(--phi-vh)   / var(--phi));
  --phi-vh-b: calc(var(--phi-vh-a) / var(--phi));
  --phi-vh-c: calc(var(--phi-vh-b) / var(--phi));
  --phi-vh-d: calc(var(--phi-vh-c) / var(--phi));
  --phi-vh-e: calc(var(--phi-vh-d) / var(--phi));
  --phi-vh-f: calc(var(--phi-vh-e) / var(--phi));
  --phi-vh-g: calc(var(--phi-vh-f) / var(--phi));
  --phi-vh-h: calc(var(--phi-vh-g) / var(--phi));
}
